[Unit]
Description=apache2
After=etcd.service
After=docker.service

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill apache2
ExecStartPre=-/usr/bin/docker rm apache2 
ExecStartPre=/usr/bin/docker pull 10.0.0.217:5000/apache:latest
ExecStart=/usr/bin/docker run --name apache2 -P -t 10.0.0.217:5000/apache:latest
ExecStop=/usr/bin/docker stop apache2

[X-Fleet]
Global=true
