[Unit]
Description=apache-multi
After=etcd.service
After=docker.service

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill apache-multi%i
ExecStartPre=-/usr/bin/docker rm apache-multi%i
ExecStartPre=/usr/bin/docker pull 10.0.0.217:5000/apache:latest
ExecStart=/usr/bin/docker run --name apache-multi%i -P -t 10.0.0.217:5000/apache:latest
ExecStop=/usr/bin/docker stop apache-multi%i

[X-Fleet]
X-Conflicts=apache-multi@*.service
